<div class="demo-counter">
    <h4 class="label label-danger">
        <span id="demo-remaining-time" data-next-update="{{ nextUpdate }}">
            {{ message }}
        </span>
        <i class="fa fa-times-circle pointer-hand remove-demo-counter"></i>
    </h4>
</div>